APDevAdvanced3.8_studentFiles_20may2016/apps/munit/src/main/app/order-provisioning.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
  xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
  xmlns:ws="http://www.mulesoft.org/schema/mule/ws"
  xmlns:json="http://www.mulesoft.org/schema/mule/json"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd" >

  <http:listener-config name="httpInbound" host="0.0.0.0" port="8082" basePath="orders" doc:name="HTTP Listener Configuration"/>
  <context:property-placeholder location="order-system-dev.properties"/>
    <ws:consumer-config name="Web_Service_Consumer" service="OrderServiceService" port="OrderServicePort" serviceAddress="http://training-u.cloudhub.io/advanced/orders" wsdlLocation="orders.wsdl" doc:name="Web Service Consumer"/>

  <flow name="mainFlow">
    <http:listener config-ref="httpInbound" path="/" doc:name="HTTP" />
    <flow-ref name="retrieveOrders" doc:name="retrieveOrders" />
    <flow-ref name="processOrders" doc:name="processOrders" />
    <json:xml-to-json-transformer doc:name="XML to JSON"/>
  </flow>

  <sub-flow name="retrieveOrders">
    <flow-ref name="makeRequest" doc:name="makeRequest"/>
  </sub-flow>

  <flow name="processOrders">
    <set-variable variableName="orders" value="#[message.payload]" doc:name="Variable"/>
    <set-payload value="#[{'international': java.util.Map&lt;String,String&gt;[], 'domestic': java.util.Map&lt;String,String&gt;[]}]" doc:name="Set Payload"/>
    <expression-component doc:name="Expression">
      <![CDATA[
      for (order : flowVars.'orders') {
        if (order.location == 'international') {
          payload.'international'.add(order);
        } else {
          payload.'domestic'.add(order);
        }
      }
      ]]>
    </expression-component>
  </flow>

  <!-- call order ws and transform response -->
  <flow name="makeRequest">
    <set-variable variableName="dateRange" value="*" doc:name="Variable" />
    <parse-template location="orderRequest.xml" doc:name="Parse Template" />
        <ws:consumer config-ref="Web_Service_Consumer" operation="provisionOrder" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#provisionOrderResponse.*return]]></dw:set-payload>
        </dw:transform-message>
  </flow>
  
</mule>