APDevAdvanced3.8_studentFiles_20may2016/apps/custom-elements-complete/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
  xmlns:spring="http://www.springframework.org/schema/beans" 
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:json="http://www.mulesoft.org/schema/mule/json"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
  http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
  http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">

  <http:listener-config name="http8081" host="localhost" port="8081" />

  <flow name="main">
    <http:listener config-ref="http8081" path="/component" />
    <choice>
      <when expression="#[message.inboundProperties.'http.query.params'.type == 'map']">
        <set-payload value="#[{'message' : 'i am a map'}]" />
        <flow-ref name="componentExample"/>
      </when>
      <when expression="#[message.inboundProperties.'http.query.params'.type == 'array']">
        <set-payload value="#[['i am an array node']]" />
        <set-variable variableName="method" value="processArray"/>
        <flow-ref name="componentExample"/>
      </when>
      <when expression="#[message.inboundProperties.'http.query.params'.type == 'string']">
        <set-payload value="i am a string" />
        <flow-ref name="componentExample"/>
      </when>
      <otherwise>
        <logger message="Could not locate requested path"/>
      </otherwise>
    </choice>
    <json:object-to-json-transformer />
  </flow>

  <flow name="componentExample">
    <component>
      <singleton-object class="com.mulesoft.training.MuleComponent" />
    </component>
    <component>
      <singleton-object class="com.mulesoft.training.MuleLifecycleComponent" />
    </component>
  </flow>

</mule>
